.contact-part {
  margin: 30px auto;
  width: 50%;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button {
  background-color: #f17649;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ff591d;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
