* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: url('../images/planet.png') no-repeat center center/cover;
  color: white;
  height: 300px;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #010101;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  text-align: center;
}

/* Style the navigation bar links */
.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar a:first-child{
  margin-right: 38%;
}

/* Change color on hover */
.navbar a:hover {
  color:#f17649;
}

/* Active/current link */
.navbar a.active {
  color: white;
}
